[Unit]
Description=syncer2 forum steady/catchup queue consumer

[Timer]
OnBootSec=3min
OnUnitInactiveSec=1min
AccuracySec=10s
Persistent=false
Unit=syncer2-job@forum-consume.service

[Install]
WantedBy=timers.target
