[Unit]
Description=syncer2 forum sitemap discovery daily

[Timer]
OnCalendar=*-*-* 05:23:00 Asia/Shanghai
AccuracySec=2min
Persistent=false
Unit=syncer2-job@forum-discovery.service

[Install]
WantedBy=timers.target
