[Unit]
Description=syncer2 image asset ingest queue consumer

[Timer]
OnBootSec=4min
OnUnitInactiveSec=5min
AccuracySec=10s
Persistent=false
Unit=syncer2-job@image-ingest.service

[Install]
WantedBy=timers.target
